<h2>Reactive</h2>

<form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
    <div>
        <label for="username">Username: </label>
        <input formControlName="username">
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password" formControlName="password">
    </div>
    <div>
        <button>Login</button>
    </div>
</form>

<div *ngIf="loginForm.dirty">
    <div *ngIf="loginForm.get('username')?.errors?.required">
        username is required
    </div>
    <div *ngIf="loginForm.get('username')?.errors?.minlength">
        username requires minimum {{loginForm.get('username')?.errors?.minlength.requiredLength}} characters
    </div>
</div>